.BaseExComponent {
  text-align: center;
}

.BaseExComponent-header {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 0;
}

.BaseExComponent-body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px 0;
}
